:root{
    --cor_de_fundo: rgb(255, 0, 136);
    --cor_de_fundo2:  rgb(225, 143, 43);
    }
    
    
    body{
    background-color:var(--cor_de_fundo);
    }
    
    .teste{
        background-color:var(--cor_de_fundo2);
    }